/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tag Selectors */
body {
  font-family: Arial, sans-serif;
  background-color: #eae8e8;
  padding: 20px;
}

h1 {
  font-size: 2em;
  color: rgb(161, 16, 16);
}

h2 {
  font-size: 1.4em;
  color: #333;
}

p {
  font-size: 0.95em;
}

/* Grouping Selector */
h2, p {
  margin: 10px 0;
  color: #370404;
}

/* ID Selectors */
#nav p {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 6px;
}

#header {
  background-color: #a4c900;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

#featured {
  background-color: #ffecd1;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  text-align: center;
}

#movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

#footer p {
  background-color: #a81b1b;
  color: #060404;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  font-style: oblique;
  border-radius: 10px;
}

/* Class Selector */
.movie-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(6, 101, 68, 0.1);
  width: 350px;
  text-align: center;
}

/* Attribute Selector */
button[type="button"] {
  background-color: #c9002b;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="button"]:hover {
  background-color: #00a18b;
}

/* === Combinator Selectors === */

/* Descendant — style only <p> under #header */
#header p {
  font-size: 1.4em;
}

/* Child — only direct h2 inside movie-card */
.movie-card > h2 {
  color: #c90007;
}

/* Adjacent sibling — p directly after h2 */
.movie-card h2 + p {
  font-style:italic;

}

/* General sibling — buttons after image */
.movie-card img ~ button {
  margin-top: 10px;
}
